body {
    background-color:grey;
}

.container {
    background-color:grey;
}

div.main {
    background-color: darkgrey;
    width:100%;
}

div.main > h1 {
    color: cornflowerblue;
}

.medium-part {
    height:600px;
    width:100%;
    background-color: lightgrey;
}